html, body {
  overflow-x: hidden;
}

/**
 * Enable smooth scrolling on the whole document
 */
html {
  scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/**
 * Add .section to every anchored element for scroll margin
 */
.section {
  scroll-margin-top: 2rem;
}

/* Header */
.site-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
  text-decoration: none;
}

@media (min-width: 48em) {
  .site-title {
    float: left;
  }
}

.nav-link {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8) !important;
}

.social-nav .nav-link {
  padding: 0 0.5rem;
  font-size: 1.1rem;
  line-height: 2.5rem;
}

.nav-link:hover,
.nav-link:focus,
.active .nav-link {
  color: rgba(0, 0, 0, 0.6) !important;
}

/* Hero (intro) section */
.intro-title {
  font-weight: 800;
}

@-webkit-keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

.wave-bg {
  display: block;
  height: 220px;
  width: 100%;
  min-width: 600px;
  transform-origin: top;
  -webkit-animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
          animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  background-image: url("../images/wave-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
}

img.avatar {
  border-radius: 30px;
}

/* Masonary grid for portfolio */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* Grid Item */
.grid-sizer,
.grid-item {
  width: 100%;
}

.grid-item {
  padding-bottom: 12px;
}

@media (min-width: 48em) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
  .grid-item {
    float: left;
    padding: 6px;
  }
}

.grid-item img {
  display: block;
  width: 100%;
  max-width: 100%;
}

/* Portfolio */
.portolio-section .container {
  padding: 0;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0;
}

.portfolio-item figcaption {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  background: rgba(255, 255, 255, 0.75);
  transition: transform 0.35s;
  transform: translate3d(0, 100%, 0);
}

.portfolio-item figcaption h4 {
  color: #222;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3px;
}

.portfolio-item figcaption p {
  color: #444;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.portfolio-item:hover figcaption {
  transform: translate3d(0, 0, 0);
}

/* Portolio Caption */
#bp_container .bp-xc {
  background: #4abdac !important;
}

#bp_caption a {
  text-decoration: none;
}

/* Footer section */
footer a:not(.nav-link) {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

/* Scroll Top */
#scrolltop {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#scrolltop .btn {
  padding: 3px 11px;
  border-radius: 50%;
}

/* Additional utility styles */
.container-narrow {
  max-width: 1024px;
  margin: 0 auto;
}
.bg-blue{background-color: #0000ee;}
.bg-opacityblue{background-color: #EBEBFE;}
.bg-peach{background-color: #FFF8EB;}
.text-salonexpblue{color: #0C669D;}
.text-blue{color: #0000ee;}
.text-white{color: #ffffff;}
.text-orange{color: #FC8101;}
.text-small {
  font-size: 0.875rem;
}
/* header */
.customMenu{
  justify-content: end !important;
}
.customMenu ul li{
  list-style-type: none;
  display: inline;
}
/* header */
.text-uppercase {
  letter-spacing: 0.05em;
}
/* color palet */
.color{
  padding:20px;
  margin: 0 2px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
.colorKSone{
  background-color: #FC8101;
}
.colorKStwo{background-color: #976D21;}
.colorKSthree{background-color: #ffffff;
  border: 1px solid black;}
.colorKSfour{background-color: #22252A;}
.colorOne{
  background-color: #ffffff;
  border: 1px solid black;
}
.colorTwo{
  background-color: #0000ee;
}
.colorThree{
  background-color: #d9d9fd;
}
.colorFour{
  background-color: #eeeeee;
}
.colorcustomOne{
  background-color: #ffffff;
  border: 1px solid black;
}
.colorcustomTwo{
  background-color: #D2D2D2;
}
.colorcustomThree{
  background-color: #33B2FF;
}
.colorcustomFour{
  background-color: #000000;
}
.colorName{
  margin: 10px 9px;
}
/* color palet */
.hover-effect {
  transition: transform .18s ease-in-out;
}

.hover-effect:hover {
  transform: translateY(-2px);
}

.marker {
  position: relative;
  display: inline;
  width: auto;
}
.custom-marker, .custom-marker-black, .custom-marker-blue {
  position: relative;
  display: inline;
  width: auto;
}
.custom-marker:after{
  content: "";
  width: 125px;
  height: 40px;
  position: absolute;
  left: 0px;
  border-bottom: 2px solid white;
}
.custom-marker-black:after {
  content: "";
  width: 70px;
  height: 40px;
  position: absolute;
  left: 0px;
  border-bottom: 2px solid black;
}
.custom-marker-blue:after {
  content: "";
  width: 70px;
  height: 40px;
  position: absolute;
  left: 0px;
  border-bottom: 2px solid blue;
}
.marker-center {
  padding-right: 0;
}

.marker:after {
  content: "";
  width: 125px;
  height: 30px;
  position: absolute;
  bottom: -25px;
  right: -30px;
  background-image: url("../images/marker.svg");
  background-repeat: no-repeat;
}

.marker-center:after {
  bottom: -30px;
  left: 50%;
  margin-left: -60px;
}

.bg-blue-opacity{background-color: #EBEBFE;}
/* design flow css with responsive */
.workflowsection{
  background-color: #0000EE;
  position: relative;
  font-size: 12px;
  font-family: sans-serif;
  margin: 0px;
  padding: 0;
}
.custom-container{
  max-width: 1690px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
img{
  max-width: 100%;
  height: auto;
}
.main-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin:0 -15px;
}
.main-wrapper .title, .main-wrapper .product-img{
  width: 50%;
  display: inline-block;
  position: relative;
}  
.product-img{
  padding: 0 0 0 95px;
  padding-bottom: 150px;
}
.main-wrapper .product-img-2{
  width: 50%;
  padding:0 95px 0 0;
  margin-top: -560px;
  position: relative;
}
.main-wrapper .product-img-3{
  width: 50%;
  padding:0 95px 0 0;
  margin-top: -560px;
  position: relative;
}
.main-wrapper .product-img:not(:last-child):after{
  display: block;
  content: "";
  background-image: url("../images/image-19.svg");
  width: 519px;
  height: 51px;
  position: absolute;
  left: 0;
  bottom: 60px;
  background-repeat: no-repeat;
  background-size: contain;
}
.main-wrapper .product-img-2:after, .main-wrapper .product-img-3:after{
  display: block;
  content: "";
  background-image: url("../images/image-17.svg");
  width: 519px;
  height: 51px;
  position: absolute;
  right: 0;
  bottom: 620px;
  background-repeat: no-repeat;
  background-size: contain;
}
@media only screen and (max-width:1690px) {
  .main-wrapper .product-img:not(:last-child):after, .main-wrapper .product-img-2:after, .main-wrapper .product-img-3:after{
      width: 60%;
      height: 51px;
  }
  .main-wrapper .product-img{
      padding: 0 15px 0 65px;
      padding-bottom: 150px;
  }
  .main-wrapper .product-img-2, .main-wrapper .product-img-3{
      padding:0 65px 0 15px;
  }
}
@media only screen and (max-width:1400px) {
  .main-wrapper .product-img{
      padding: 0 15px 0 30px;
      padding-bottom: 80px;
  }
  .main-wrapper .product-img-2{
      margin-top: -430px;
  }
  .main-wrapper .product-img-3{
      margin-top: -430px;
  }
  .main-wrapper .product-img:not(:last-child):after{
      bottom: 10px;
  }
  .main-wrapper .product-img-2:after{
      bottom: 470px;
  }
  .main-wrapper .product-img-3:after{
      bottom: 470px;
  }
  .product-img-2{
      padding:0 30px 0 15px;
  }
}
@media only screen and (max-width:1200px) {
  .main-wrapper .product-img-2{
      margin-top: -260px;
  }
  .main-wrapper .product-img-3{
      margin-top: -290px;
  }
  .main-wrapper .product-img-3:after{
      bottom: 340px;
  }
  .main-wrapper .product-img-2:after{
      bottom: 310px;
  }
}
@media only screen and (max-width:767px){
  .main-wrapper .product-img:not(:last-child):after, .main-wrapper .product-img-2:after, .main-wrapper .product-img-3:after{
      display: none;
  }
  .main-wrapper{
      display: block;
  }
  .main-wrapper .title, .main-wrapper .product-img, .main-wrapper .product-img-2, .main-wrapper .product-img-3{
      width: 100%;
      padding:0 15px;
  } 
  .main-wrapper .product-img-2, .main-wrapper .product-img, .main-wrapper .product-img-2{
      margin-top: 30px;
  }
}
/* design flow css with responsive */


@media (max-width: 575.98px) {
  .marker {
    padding-right: 0;
  }
  .marker:after {
    bottom: -30px;
    left: 50%;
    margin-left: -60px;
  }
}

.entry-title a {
  text-decoration: none;
}
/* kitchen story start */
.flex {
  display: flex;
  justify-content: space-between;
  }

  .masonry {
  flex-direction: row;
  }
  .masonry__section {
      flex-direction: column;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 48%;
  }
.masonry__section + .masonry__section{
  margin-left: 30px;
}
.masonry__article{
  margin-top: 30px;
}
/* masonary */



.gold-bg{
  background: #976D21;
}
.mb-20{
  bottom: -80px;
  position: absolute;
  z-index: 9
}
.ml-auto{
  margin-left: auto;
}
.relative{
  position: relative;
}
@media only screen and (max-width:767px) {
  .w-md-6{
      width: 100%;
      padding: 0 15px;
  }
  .mb-20{
      position: relative;
      bottom: unset;
  }
  .masonry {
      flex-direction: column;
  }
  .masonry__section {
      flex-direction: column;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .masonry__section + .masonry__section{
      margin-left: 0px;
  }
}

@media only screen and (max-width:1024px) {
  .mb-20{
      /* margin-bottom: -330px; */
  }
}

/* kitchen story end */